<% cache message do %>
  <div class="message">
      <span>[ <%= message.created_at.in_time_zone('Minsk').strftime('%d/%m | %H:%M') %> ] </span> 
      <span><%= message.user.username %>: </span> 
      <span><%= message.content %></span>
      <span><%= link_to "", edit_chat_room_message_path(message.chat_room, message), class: 'glyphicon glyphicon-edit', remote: true %></span>
      <span><%= link_to "", chat_room_message_path(message.chat_room, message), data: {confirm: "Do you want to delete this message?"}, method: :delete, class: 'glyphicon glyphicon-remove delete-sign' %></span>
  </div>
<% end %>
