<h1>
  Room <%= @chat_room.id %>: <%=@chat_room.name%> 
  <span id="fav-button">
  	<%= render 'favorites/favorite_buttons' %>
  </span>
  <% if person_have_role? || chat_room_owner? %>
    | <span>
	  <%= link_to '', edit_chat_room_path(@chat_room), class: 'glyphicon glyphicon-pencil', remote: true %>
      <%= link_to '', @chat_room, data: {confirm: "You shure???"}, method: :delete, class: 'glyphicon glyphicon-remove-sign' %>
    </span>
  <% end %>
</h1>
<% if chat_room_owner? && @chat_room.private_room %>
  <h3>Password: <%=@chat_room.password%></h3>
<% end %>