<%provide(:user_role_route, user_role_path(@user))%>
<div class="text-center">
  <h1>
  	<% if @user.image? %>
  	  <%= image_tag(@user.image.url, class:"profile-image") %> 
  	<% end %>
  	<%= @user.username %></h1>
  <div class="user-info">
  	<p><span>email:</span><span><%= @user.email %></span></p>
  	<p id="user-status">
  		<%= render 'user_status' %>
  	</p>

  	<p id="user-roles">
  		<%= render 'user_roles' %>
  	</p>
  	
  	<p>
  	  <%if user_have_permissions?(@user) %>
  	    <div id="role-links">
  	  	  <%if user_have_role?(@user)%>
  	  		  <%= render 'user_roles_links' %>
  	      <% end %>
  	    </div>

  	    <div id="role-form">
  	      <% if @user.role.nil? %>
	  	    <%= render "roles/role_form" %>
	  	  <% end %>
	  	</div>
  	  <% end %>
  	</p>

  	<p><span>count of rooms:</span><span><%= @user.chat_rooms.count %></span></p>
  	<% if user_is_current?(@user) %>
	  <p class="profile-actions">
	    <span>Edit user data</span> 
	    <span><%= link_to "Edit", edit_user_registration_path(@user)%></span>
	  </p>
	<% end %>
  </div>
  
</div>

<div class="profile-rooms">
	<div class="favorite-rooms">
		<% if @user.favorites.any? %>
		  <h2>Favorite Rooms</h2>
		  <section>
		    <% @favorites.each do |favorite| %>
		      <p><%= link_to favorite.chat_room.name, chat_room_path(favorite.chat_room) %></p>
		    <% end %>
		  </section>
		<% end %>
	</div>

	<div class="created-rooms">
		<% if user_has_chat_rooms?(@user) %>
		  <h2>Created Rooms</h2>
		  <section>
		    <% @user.chat_rooms.each do |chat_room|%>
		      <p><%= link_to chat_room.name, chat_room_path(chat_room) %></p>
		    <% end %>
		  </section>
		<% end %>
	</div>
</div>